<div class="user-data-form-wrapper">
    <div class="user-data-form-close-button-wrapper">
        <button mat-icon-button (click)="this.onClick()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <form class="user-data-form">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput>
          </mat-form-field>
          <div class="user-data-form-email-status-wrapper">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select>
                <mat-option value="one">Active</mat-option>
                <mat-option value="two">Inactive</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Roles</mat-label>
            <mat-select multiple>
              <mat-option value="one">Administrator</mat-option>
              <mat-option value="two">User</mat-option>
              <mat-option value="three">Mainuser</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-divider></mat-divider>
          <div class="user-data-form-cancel-save-buttons-wrapper">
            <button mat-stroked-button>
              Cancel
            </button>
            <button mat-stroked-button>
              Save
            </button>
          </div>
        </form>
</div>