<div class="user-data-form-wrapper">
  <div class="user-data-form-close-button-wrapper">
      <button mat-icon-button (click)="this.onCancelClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    
    <form class="user-data-form" (ngSubmit)="this.onSaveClick($event)" [formGroup]="form">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>
        <div class="user-data-form-email-status-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select  required formControlName="status">
              <mat-option *ngFor="let status of statusOptions" [value]="status">{{status}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Roles</mat-label>
          <mat-select multiple  required formControlName="roles">
            <mat-option *ngFor="let role of rolesOptions" [value]="role">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div class="user-data-form-cancel-save-buttons-wrapper">
          <button mat-stroked-button type="button" (click)="this.onCancelClick()">
            Cancel
          </button>
          <button mat-stroked-button [disabled]="!form.valid">
            Save
          </button>
        </div>
      </form>
</div>
