table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.datatable-delete-icon {
    color: red;
}

th.mat-sort-header-sorted {
    color: black;
}

#datatable-status-icon{
    color:white;
    text-align: center;
    border-radius: 10%;
    padding: 5px;
}

.datatable-status-active-icon{
    background-color: green;
}

.datatable-status-inactive-icon{
    background-color:red;
}