/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #dbdbdb;
}

/* app-root{
    height:100%;
} */

/* #searchbar-wrapper{
    margin-top: 2rem;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:70%; 
} */

mat-list-item{
    padding-top: 2.1rem !important;
    /* height:auto !important; */
    overflow:visible !important;
}

mat-list-item.searchbar-wrapper{
    /* display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important; */
    padding-left: 65%;
}

#pagination-wrapper{
    height:auto;
    margin-top: 2rem;
}

mat-drawer{
    max-width: 30%;
}

mat-drawer-container{
    border-radius: 20px;
    /* height: 100% !important;  */
    /* margin-bottom: 2rem !important; */
    min-height: 80% !important;
}


.data-form-activation-button-wrapper{
    display: flex;
    flex-direction: row-reverse;
}

/* style for table */
#table-wrapper{
    height: auto;
    /* margin-top: 3rem; */
}

